<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!--    Using Cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    .inputstl {
      padding: 9px;
      border: solid 1px #B3FFB3;
      outline: 0;
      background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #A4FFA4), to(#FFFFFF));
      background: -moz-linear-gradient(top, #FFFFFF, #A4FFA4 1px, #FFFFFF 25px);
      box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
      -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
      -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

    }

  </style>

</head>

<body>
<div class="container">
  <h1>Add FAQ</h1>
  <form class="form-horizontal" role="form" th:method="post" th:action="@{/faq/save}" th:object="${faq}" >
    <input type="text" hidden placeholder="UserId..." th:field="*{id}" th:value="${faq.id}" >
    <div class="form-group">
      <label for="name1" class="col-sm-2 control-label">Answer:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control inputstl" id="name1" placeholder="Enter Question" th:field="*{question}" th:value="${faq.question}">
      </div>
    </div>

    <div class="form-group">
      <label for="name1" class="col-sm-2 control-label">Question:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control inputstl" id="name2" placeholder="Answer" th:field="*{answer}" th:value="${faq.answer}">

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-lg btn-block btn-success">Add new</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
