<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <!-- metadata goes in head - Contains information that describes the web page document -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href = "forgetpassword.css">
  <title>forgetpassword</title>
</head>
<body>
<form action="action_page" style="border:1px solid rgb(145, 160, 226)"></form>
<form  th:method="post" th:action="@{/user/changepassword}" th:object="${users}" >


<div class="container mb-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="forgotpassword">
        <h2 style="font-family: 'Lucida Sans';">Forgot your password?</h2>
        <p>The following steps will help you to reset password of your account for ShoppingLah ! </p>
        <ol class="list-unstyled">
          <li><span class=" text-danger">1. </span>Enter your registered email address at the space below.</li>
          <li><span class=" text-danger">2. </span>If valid, it will sent a notification to your email address and continue to the reset password page. </li>
          <li><span class=" text-danger">3. </span>If invalid, it will ask you to re-enter the registered email address.</li>
          <li><span class=" text-danger">4. </span>Reset password.</li>
        </ol>
      </div>
      <form class="card mt-5">
        <div class="card-body">
          <div class="form-group">
            <label for=>Enter your email address</label>
            <input class="form-control" type="text" id="emailaddress">
            <small class="form-text text-muted">Enter the email address you used during sign up new account. A message will sent to the email for reset password.</small>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" id="submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</form>
</div>
</div>
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">

</div>
<script type="text/javascript">
  function check() {
    var loginuser = document.getElementById('emailaddress').value;
    a = loginuser.indexOf("@");
    b = loginuser.lastIndexOf(".");
    if( loginuser == ""||a < 1 || ( b - a < 2 ) ) {
      document.getElementById('emailaddress').focus() ;
      return false;
    }
    return( true );
  }

  function reset(e){
    e.preventDefault();
    if (check()){
      alert("This email address is valid");
      abc();
    }
    else{
      alert("Please enter your registered email address correctly!");
    }
  }
  function abc(){
    window.location.href = "reset.html";

  }
  var c = document.getElementById("submit");
  c.addEventListener("click",reset);
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</form>
</body>

</html>

